.hero-wrapper{
    color:white;
    position:reltive;
    padding-bottom:2rem;
    background-color:var(--black);
}
.hero-Container{
    justify-content:space-between;
    align-items:flex-end
}
.iimage-cointainer{
    width:30rem;
    height:35rwm;
    overflow:hidden;
    border-radius:15rem 15rem 00;
    border:8px solid rgba(255,255,255,0.12)
}
.image-cointainer>img{
    width:100%;
    height:100%

}
  
