@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  margin :0;
  padding:0;
  box-sizing:border-box;
  font-family:'Roboto','sans-serif'


}
body{
  background-color:aliceblue
}
.navsection{
  border:1px solid black;
  display:flex;
  justify-content:space-between;
  background-color:black;
  color:white;
  height:80px
}
.prosection{
  display:flex;
  background-color:white
}
.imagebox{
  width:80%;
  padding-left:20px

}
.proimage{
  width:80%
}
.protitle h2{
  margin:10px;

}
.submenu{
  background-color:gray;
  color:azure;
  height:50px
}
.submenu ul li{

  list-style:none;
  margin:20px;
}
.submenu ul{
  display:inline-flex
}
.pagesection{
  display:grid;
  grid-template-column:repeat(4,300px)
}
.pageimg{
  width:250px;
  height:250px;
}

.pageimg img{
  width:100px
}